#lg-container{
	width: 100%;
	height: 525px;
	background: url(../img/2019banner4.jpg) no-repeat;
	background-size: 100%;
}
#lg-container > i{
	height: 525px;
	width: 0;
	display: inline-block;
	vertical-align: middle;
}
#lg-container > .login-wrap{
	width: 1200px;
	margin: 0 auto;
	display: inline-block;
	vertical-align: middle;
}
#lg-container > .login-wrap > .login-form{
	width: 380px;
	height: 290px;
	background: white;
	float: right;
	padding: 40px 0;
}
#lg-container > .login-wrap > .login-form > form{
	border: 1px solid gray;
	height: 100%;
}
#lg-container > .login-wrap > .login-form > form > .user-wrap{
	width: 260px;
	margin: 20px auto 20px;
	height: 40px;
	border: 1px solid gray;
	padding-left: 40px;
	background: url(../img/icon-user.png) no-repeat ;
	background-size: 40px 40px;
}
#lg-container > .login-wrap > .login-form > form > .user-wrap > input{
	height: 38px;
	width: 242px;
	border: none;
	border-left: 1px solid gray;
	padding-left: 15px;
	font-size: 15px;
}
#lg-container > .login-wrap > .login-form > form > .password-wrap{
	width: 260px;
	margin: 10px auto 20px;
	height: 40px;
	border: 1px solid gray;
	padding-left: 40px;
	background: url(../img/icon-password.png) no-repeat ;
	background-size: 40px 40px;
}
#lg-container > .login-wrap > .login-form > form > .password-wrap > input{
	height: 38px;
	width: 242px;
	border: none;
	border-left: 1px solid gray;
	padding-left: 15px;
	font-size: 15px;
}
#lg-container > .login-wrap > .login-form>  form > div.check-wrap{
	width: 300px;
	margin: 10px auto 20px;
	height: 40px;
	border: 1px solid gray;
	/*padding-left: 40px;*/
	background: url(../img/icon-password.png) no-repeat ;
	background-size: 40px 40px;
}
#lg-container > .login-wrap > .login-form>  form > div.check-wrap > input{
	width: 128px;
	height: 38px;
	border: none;
	border-left: 1px solid gray;
	/*padding-left: 15px;*/
	font-size: 15px;
}
#lg-container > .login-wrap > .login-form>  form > div > img{
	float: right;
	height: 40px;
}
#lg-container > .login-wrap > .login-form > form > .err{
	height: 40px;
	width: 302px;
	text-align: center;
	line-height: 40px;
	background: goldenrod;
	margin: 0 auto 10px;
}

#lg-container > .login-wrap > .login-form > form > .forget-wrap{
	padding-bottom: 20px;
	text-align: right;
}
#lg-container > .login-wrap > .login-form > form > .forget-wrap > a{
	margin-right: 30px;
	color: gray;
}
#lg-container > .login-wrap > .login-form > form > .login-bt{
	width: 302px;
	border: none;
	margin: 0 auto;
	height: 38px;
	line-height: 38px;
	background: red;
	color: white;
	text-align: center;
	font-size: 22px;
	/* font-weight: 700; */
}

#header{
	border: none;
}

#footer{
	background-color: white;
	color: black;
}
