{% extends 'base_tp.html' %}
{% load static %}

{# contact-lens彩瞳 #}

{# 标题#}
{% block title %}
    全视眼镜商城 | 彩瞳
{% endblock %}

{# CSS#}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact-lens.css' %}" />
{% endblock %}

{# JS#}
{% block custom_js %}
    <script src="{% static 'js/contact-lens.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{# 主体内容#}
{% block container %}
    <div id="qs-container">
			<div class="tail-zone">
				<a href="index.html">首页</a>
				&nbsp;
				&gt;
				&nbsp;
				<i>彩瞳</i>
			</div>

			<div class="banner-col">
				<div class="swiper-container cl-swiper">
					<div class="swiper-wrapper">
						<div class="swiper-slide"><img src="../img/contact-b1.jpg" /></div>
						<div class="swiper-slide"><img src="../img/contact-b2.jpg" /></div>
					</div>
				</div>
			</div>

			<div class="goods-conntent clearfix">
				<div class="goods-item">
					<img src="../img/contact-v1.jpg" alt="">
					<p>ANNASUI安娜苏日抛10片装</p>
					<i>积分可抵10元</i>
					<b>￥ 70.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v2.jpg" alt="">
					<p>强生美瞳妍妍两周抛6片装</p>
					<i>三明治工艺，自然闪耀</i>
					<b>￥ 118.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v3.jpg" alt="">
					<p>实瞳可芙蕾日抛30片装</p>
					<i>耀眼改变</i>
					<b>￥ 112.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v4.jpg" alt="">
					<p>心の拉花美妆彩瞳月抛3片装</p>
					<i>2盒到手29.9/盒</i>
					<b>￥ 33.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v4.jpg" alt="">
					<p>心の拉花美妆彩瞳月抛3片装</p>
					<i>积分可抵10元</i>
					<b>￥ 70.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v3.jpg" alt="">
					<p>实瞳可芙蕾日抛30片装</p>
					<i>耀眼改变</i>
					<b>￥ 112.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v4.jpg" alt="">
					<p>心の拉花美妆彩瞳月抛3片装</p>
					<i>2盒到手29.9/盒</i>
					<b>￥ 33.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v4.jpg" alt="">
					<p>心の拉花美妆彩瞳月抛3片装</p>
					<i>积分可抵10元</i>
					<b>￥ 70.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v3.jpg" alt="">
					<p>实瞳可芙蕾日抛30片装</p>
					<i>耀眼改变</i>
					<b>￥ 112.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v4.jpg" alt="">
					<p>心の拉花美妆彩瞳月抛3片装</p>
					<i>2盒到手29.9/盒</i>
					<b>￥ 33.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v4.jpg" alt="">
					<p>心の拉花美妆彩瞳月抛3片装</p>
					<i>积分可抵10元</i>
					<b>￥ 70.00</b>
				</div>
				<div class="goods-item">
					<img src="../img/contact-v2.jpg" alt="">
					<p>心の拉花美妆彩瞳月抛3片装</p>
					<i>积分可抵10元</i>
					<b>￥ 70.00</b>
				</div>
			</div>
		</div>
{% endblock %}
