{% extends 'base_tp.html' %}
{% load static %}

{# contact-lens彩瞳 #}

{# 标题#}
{% block title %}
    全视眼镜商城 | 彩瞳
{% endblock %}

{# CSS#}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact-lens.css' %}" />
{% endblock %}

{# JS#}
{% block custom_js %}
    <script src="{% static 'js/contact-lens.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{# 主体内容#}
{% block container %}
    <div id="qs-container">
			<div class="tail-zone">
				<a href="{% url 'index' %}">首页</a>
				&nbsp;
				&gt;
				&nbsp;
				<i>彩瞳</i>
			</div>

			<div class="banner-col">
				<div class="swiper-container cl-swiper">
					<div class="swiper-wrapper">
                        {% for banner in banners %}
                            <div class="swiper-slide"><img src="{{ MEDIA_URL }}{{ banner.goods_img }}" /></div>
                        {% endfor %}
					</div>
				</div>
			</div>

			<div class="goods-conntent clearfix">
                {% for goods in contact_lens_goods %}
                    <a href="{% url 'goods:goods_detail' goods.goods_id %}">
                        <div class="goods-item">
                            <img src="{{ MEDIA_URL }}{{ goods.goods_img }}" alt="">
                            <p>{{goods.goods_name}}</p>
                            <i>{{goods.goods_discount}}</i>
                            <b>￥ {{goods.goods_price}}</b>
                        </div>
                    </a>
                {% endfor %}
            </div>
		</div>
{% endblock %}
