{% extends 'base_tp.html' %}
{% load static %}
{% load hash %}

{# goods-detail商品详情 #}

{# CSS#}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/goods-detail.css' %}" />
{% endblock %}

{# JS#}
{% block custom_js %}
    <script src="{% static 'js/goods-detail.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{# 主体内容#}
{% block container %}
		<div id="goods-wrap" class="clearfix">
			<div class="product-intro clearfix">
				<!-- 预览 -->
				<div class="preview-wrap">
					<div class="right-extra">
					  <!--产品参数开始-->
					  <div>
					    <div id="preview" class="spec-preview"> <span class="jqzoom"><img jqimg="../img/detail-b1.jpg" src="../img/detail-s1.jpg" /></span> </div>
					    <!--缩图开始-->
					    <div class="spec-scroll"> <a class="prev">&lt;</a> <a class="next">&gt;</a>
					      <div class="items">
					        <ul>
					          <li><img alt="佳能" bimg="../img/detail-b1.jpg" src="../img/detail-s1.jpg" onmousemove="preview(this);"></li>
					          <li><img alt="佳能" bimg="../img/detail-b2.jpg" src="../img/detail-s2.jpg" onmousemove="preview(this);"></li>
					          <li><img alt="佳能" bimg="../img/detail-b3.jpg" src="../img/detail-s3.jpg" onmousemove="preview(this);"></li>
					          <li><img alt="佳能" bimg="../img/detail-b4.jpg" src="../img/detail-s4.jpg" onmousemove="preview(this);"></li>
					          <li><img alt="佳能" bimg="../img/detail-b5.jpg" src="../img/detail-s5.jpg" onmousemove="preview(this);"></li>
							  <li><img alt="佳能" bimg="../img/detail-b4.jpg" src="../img/detail-s4.jpg" onmousemove="preview(this);"></li>
							  <li><img alt="佳能" bimg="../img/detail-b1.jpg" src="../img/detail-s1.jpg" onmousemove="preview(this);"></li>
					        </ul>
					      </div>
					    </div>
					    <!--缩图结束-->
					  </div>
					  <!--产品参数结束-->
					</div>
				</div>
				<!-- 规格选择 -->
				<div class="itemInfo-wrap">
					<p class="name">海俪恩美瞳彩色隐形眼镜萌生宠爱日抛30片 棕色0度</p>
					<p class="oth">商品活动送不停，快来选购吧~  <a href="#" class="collect">[收藏商品]</a></p>
					<div class="summary">
						<div class="price">
							<div class="dt">商&nbsp;城&nbsp;价</div>
							<div class="dd"> ￥95.00</div>
						</div>
						<div class="promotion">
							<div class="dt">促&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销</div>
							<i>满减</i>
							<div class="dd">满129元减10元</div>
						</div>
						<div class="comment">
							<p>累计评价</p>
							<a href="#" class="count">13万+</a>
						</div>
					</div>
					<div class="weight">
						<div class="dt">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量</div>
						<div class="dd">0.09kg</div>
					</div>
					<div class="choose-attrs">
                        
                        {% for key,value in attrs %}
                            <div class="color clearfix">
                                <div class="dt">
                                    选择{{ key }}
                                </div>
                                <div class="dd">
                                    {% for foo in value %}
                                        <div class="item">{{ foo }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="num clearfix">
							<div class="dt">数&nbsp;&nbsp;量</div>
							<div class="dd">
								<i class="sub disable">-</i>
								<b>0</b>
								<i class="add">+</i>
							</div>
						</div>
					</div>
					<div class="submit_bt mouse_p">
						加入购物车
					</div>
				</div>
				<!-- 看过的 -->
				<div class="track-wrap"></div>
			</div>

			<div class="product-desc clearfix mb-20">
				<div class="aside fl">
					<div class="tab-name">
						热门商品
					</div>
					<div class="tab-cont">
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>1</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>2</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>3</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>4</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>5</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="detail fr">
					<div class="tab-main">
						<div class="item fl active mouse_p">商品介绍</div>
						<div class="item fl mouse_p">商品评价(13万+)</div>
						<div class="add-cart fr mouse_p">加入购物车</div>
					</div>
					<div class="tab-cont">
						<!-- 简介 -->
						<div class="synopsis">
							<div class="parameter">
								<ul class="clearfix">
									<li style="width: 100%;">品牌: 海俪恩（HORIEN）</li>
								</ul>
								<ul class="clearfix">
									<li>商品名称：海俪恩30片</li>
									<li>商品编号：2463287</li>
									<li>商品毛重：90.00g</li>
									<li>商品产地：江苏丹阳</li>
									<li>佩戴周期：日抛</li>
									<li>风格：约会</li>
									<li>基弧：8.6mm</li>
									<li>含水：43%-55%</li>
									<li>直径：13.8-14.2mm</li>
									<li>色系：棕色系</li>
									<li>国产/进口：国产</li>
								</ul>
							</div>
							<div class="detail-cont clearfix">
								<img src="../img/detail-1.jpg" alt="">
								<img src="../img/detail-2.jpg" alt="">
								<img src="../img/detail-3.jpg" alt="">
								<img src="../img/detail-4.jpg" alt="">
								<img src="../img/detail-5.jpg" alt="">
								<img src="../img/detail-6.jpg" alt="">
								<img src="../img/detail-7.jpg" alt="">
								<img src="../img/detail-8.jpg" alt="">
								<img src="../img/detail-9.jpg" alt="">
								<img src="../img/detail-10.jpg" alt="">
								<img src="../img/detail-11.jpg" alt="">
								<img src="../img/detail-12.jpg" alt="">
								<img src="../img/detail-13.jpg" alt="">
								<img src="../img/detail-14.jpg" alt="">
								<img src="../img/detail-15.jpg" alt="">
								<img src="../img/detail-16.jpg" alt="">
								<img src="../img/detail-17.jpg" alt="">
								<img src="../img/detail-18.jpg" alt="">
								<img src="../img/detail-19.jpg" alt="">
								<img src="../img/detail-20.jpg" alt="">
								<img src="../img/detail-21.jpg" alt="">
								<img src="../img/detail-22.jpg" alt="">
								<img src="../img/detail-23.jpg" alt="">
							</div>
						</div>

						<!-- 评价 -->
						<div class="assess hide">
							<div class="tab-main">
								<div class="tab-item active">全部评价(13万+)</div>
								<div class="tab-item">好评(10万+)</div>
								<div class="tab-item">中评(200+)</div>
								<div class="tab-item">差评(200+)</div>
							</div>
							<div class="tab-cont">
								<div class="cont">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img  src="" alt="" class="bg-img">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>

								</div>
								<div class="cont hide">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
								</div>
								<div class="cont hide">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>

								</div>
								<div class="cont hide">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>

								</div>

								<div class="paging">
									<a href="#">上一页</a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#">6</a>
									<i>...</i>
									<a href="#">下一页</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
