{% extends 'base_tp.html' %}
{% load static %}
{% load get_item %}

{# goods-detail商品详情 #}

{# CSS#}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/goods-detail.css' %}" />
{% endblock %}

{# JS#}
{% block custom_js %}
    <!-- 预览 -->
	<script src="{% static 'js/jqZoome.js' %}" type="text/javascript" charset="utf-8"></script>
    <!-- jq_cookies -->
    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript" charset="utf-8"></script>
    <script src="{% static 'js/goods-detail.js' %}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{# 导航去掉#}
{% block nav-bar %}
{% endblock %}

{# 主体内容#}
{% block container %}
		<div id="goods-wrap" class="clearfix">
			<div class="product-intro clearfix">
				<!-- 预览 -->
				<div class="preview-wrap">
					<div class="right-extra">
					  <!--产品参数开始-->
					  <div>
					    <div id="preview" class="spec-preview"> <span class="jqzoom">
                            <img jqimg="{{ MEDIA_URL }}{{ sku_banner.g_big_img }}" src="{{ MEDIA_URL }}{{ sku_banner.g_small_img }}" /></span>
                        </div>
					    <!--缩图开始-->
					    <div class="spec-scroll"> <a class="prev">&lt;</a> <a class="next">&gt;</a>
					      <div class="items">
					        <ul>
                                {% for banner in banners %}
                                    <li><img alt="QSYJ" bimg="{{ MEDIA_URL }}{{ banner.g_big_img }}" src="{{ MEDIA_URL }}{{ banner.g_small_img }}" onmousemove="preview(this);"></li>
                                {% endfor %}
					        </ul>
					      </div>
					    </div>
					    <!--缩图结束-->
					  </div>
					  <!--产品参数结束-->
					</div>
				</div>
				<!-- 规格选择 -->
				<div class="itemInfo-wrap">
					<p class="name">
                        {{sku.s_name}}
                    </p>
					<p class="oth">商品活动送不停，快来选购吧~  <a href="#" class="collect">[收藏商品]</a></p>
					<div class="summary">
						<div class="price">
							<div class="dt">商&nbsp;城&nbsp;价</div>
							<div class="dd"> ￥{{ sku.s_price }}</div>
						</div>
						<div class="promotion">
							<div class="dt">促&nbsp;&nbsp;&nbsp;销</div>
							{% if discount != '无' %}
							    <i>满减</i>
							{% endif %}
							<div class="dd">{{ discount }}</div>
						</div>
						<div class="comment">
							<p>累计评价</p>
							<a href="#" class="count">13万+</a>
						</div>
					</div>
					<div class="weight">
						<div class="dt">重&nbsp;&nbsp;&nbsp;量</div>
						<div class="dd">0.09kg</div>
					</div>
					<div class="choose-attrs">
                        {% for spu_attr in spu_attrs %}
                            <div class="size clearfix">
                                <div class="dt" data-standard="{{ spu_attr|get_item:'standard_id' }}">
                                    选择{{ spu_attr|get_item:'standard_name' }}
                                </div>
                                <div class="dd">
                                    {% for dir in spu_attr|get_item:'standard_value' %}
                                        <div data-href="{{ path }}" data-id="{{ dir.id }}" class="item
                                            {% for c_attr in current_attrs %}
                                                {% if c_attr|get_item:'standard_name' == spu_attr|get_item:'standard_name' and c_attr|get_item:'attr_id' == dir.id %}
                                                    select
                                                {% endif %}
                                            {% endfor %}
                                        ">{{ dir.name }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="num clearfix">
							<div class="dt">数&nbsp;&nbsp;量</div>
							<div class="dd">
								<i class="sub disable">-</i>
								<b>0</b>
								<i class="add">+</i>
							</div>
						</div>
					</div>
					<div class="submit_bt mouse_p fl">
						加入购物车
					</div>
                    <div class="mouse_p fl notify_bt hide">
                        到货通知
                    </div>
				</div>
				<!-- 看过的 -->
				<div class="track-wrap"></div>
			</div>

			<div class="product-desc clearfix mb-20">
				<div class="aside fl">
					<div class="tab-name">
						热门商品
					</div>
					<div class="tab-cont">
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>1</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>2</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>3</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>4</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
						<div class="item">
							<img src="../img/aside-1.jpg" alt="">
							<p>海俪恩隐形眼镜美瞳护理液SHE500mL+120ml</p>
							<div class="d">
								<i>5</i>
								<b>热销36888件</b>
								<strong>￥58.00</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="detail fr">
					<div class="tab-main">
						<div class="item fl active mouse_p">商品介绍</div>
						<div class="item fl mouse_p">商品评价(13万+)</div>
					</div>
					<div class="tab-cont">
						<!-- 简介 -->
						<div class="synopsis">
							<div class="detail-cont clearfix">
								{% for goods_detail in goods_details %}
                                    <img src="{{ MEDIA_URL }}{{ goods_detail.g_img }}" alt="">
								{% endfor %}
							</div>
						</div>

						<!-- 评价 -->
						<div class="assess hide">
							<div class="tab-main">
								<div class="tab-item active">全部评价(13万+)</div>
								<div class="tab-item">好评(10万+)</div>
								<div class="tab-item">中评(200+)</div>
								<div class="tab-item">差评(200+)</div>
							</div>
							<div class="tab-cont">
								<div class="cont">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img  src="" alt="" class="bg-img">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>

								</div>
								<div class="cont hide">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
								</div>
								<div class="cont hide">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>

								</div>
								<div class="cont hide">
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>
									<div class="assess-item clearfix">
										<div class="img">
											<img src="../img/head-1.png" alt="">
										</div>
										<div class="name">
											请***木
										</div>
										<div class="assess-ct">
											<div class="star">
												<img src="../img/star-1.png" >
												<img src="../img/star-1.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
												<img src="../img/star-2.png" >
											</div>
											<div class="desc">介意換家店買，這家店一用就漲價，對這種常年用的日用品，還是找一家價格穩定實惠的，要不就像我不上不下。客服說活動不一樣，我用了這麽長時間，從79元一套用到上月85元一套，這月直接漲到109元一套，我這個每天都用的你每次都漲，離譜，而且就你們這家自營店這樣，我換家非自營店還是84元一套，</div>
											<div class="img">
												<img src="../img/assess-1.jpg" alt="">
												<img src="../img/assess-2.jpg" alt="">
												<img src="../img/assess-3.jpg" alt="">
											</div>
											<img src="" class="hide">
											<div class="oth">
												<i class="mr-20">棕色</i>
												<b class="mr-20">300</b>
												<strong>2019-03-10 11:53</strong>
											</div>
										</div>
									</div>

								</div>

								<div class="paging">
									<a href="#">上一页</a>
									<a href="#" class="active">1</a>
									<a href="#">2</a>
									<a href="#">3</a>
									<a href="#">4</a>
									<a href="#">5</a>
									<a href="#">6</a>
									<i>...</i>
									<a href="#">下一页</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

    <script>
        $(function() {
            var sz_items1 = $('.product-intro > .itemInfo-wrap > .choose-attrs > .size:first .item')
            var sz_currentPage1 = $('.product-intro > .itemInfo-wrap > .choose-attrs > .size:first .item.select')
            var sz_items2 = $('.product-intro > .itemInfo-wrap > .choose-attrs > .size:last .item')
            var sz_currentPage2 = $('.product-intro > .itemInfo-wrap > .choose-attrs > .size:last .item.select')
            sz_items1.click(function () {
                // 当前样式处理
                sz_currentPage1.removeClass('select')
                sz_currentPage1 = $(sz_items1[$(this).index()])
                sz_currentPage1.addClass('select')

                skuid = computter_skuid()
                if (skuid){
                    window.location.href = sz_currentPage1.attr('data-href') + skuid + '/'
                } else {
                    var temp = '{{ spu_name }} '  + sz_currentPage1.text() + sz_currentPage2.text()
                    $('#goods-wrap > div.product-intro.clearfix > div.itemInfo-wrap > p.name').text(temp)
                    // 加入购物按钮处理
                    $('#goods-wrap > div.product-intro.clearfix > div.itemInfo-wrap > div.submit_bt').removeClass('submit_bt').addClass('submit_disable')
                    $('#goods-wrap > div.product-intro.clearfix > div.itemInfo-wrap > div.mouse_p.fl.notify_bt').removeClass('hide')

                }
            })
            sz_items2.click(function () {
                // 当前样式处理
                sz_currentPage2.removeClass('select')
                sz_currentPage2 = $(sz_items2[$(this).index()])
                sz_currentPage2.addClass('select')

                skuid = computter_skuid()
                if (skuid){
                    window.location.href = sz_currentPage1.attr('data-href') + skuid + '/'
                } else {
                    var temp = '{{ spu_name }} '  + sz_currentPage2.text() + sz_currentPage1.text()
                    $('#goods-wrap > div.product-intro.clearfix > div.itemInfo-wrap > p.name').text(temp)
                    // 加入购物按钮处理
                    $('#goods-wrap > div.product-intro.clearfix > div.itemInfo-wrap > div.submit_bt').removeClass('submit_bt').addClass('submit_disable')
                    $('#goods-wrap > div.product-intro.clearfix > div.itemInfo-wrap > div.mouse_p.fl.notify_bt').removeClass('hide')
                }
            })

            // 计算skuid
            function computter_skuid() {
                standard_id1 = sz_items1.parent().prev().attr('data-standard')
                attr_id1 = sz_currentPage1.attr('data-id')
                standard_id2 = sz_items2.parent().prev().attr('data-standard')
                attr_id2 = sz_currentPage2.attr('data-id')


                // 遍历选项
                {% for skuid1 in skuids %}
                    if ({{ skuid1.standard_id }} == standard_id1 && {{ skuid1.attr_id }} == attr_id1) {
                        sku_id1 = {{ skuid1.sku_id }}

                        {% for skuid2 in skuids %}
                            if ({{ skuid2.standard_id }} == standard_id2 && {{ skuid2.attr_id }} == attr_id2) {
                                sku_id2 = {{ skuid2.sku_id }}
                                if (sku_id1 == sku_id2) {    // 选项存在
                                    return sku_id2
                                }
                            }
                        {% endfor %}
                    }
                {% endfor %}
            }
        })



    </script>
{% endblock %}
