{% extends 'base_tp.html' %}
{% load static %}

{# nurse-goods护理用品 #}

{# 标题#}
{% block title %}
    全视眼镜商城 | 护理用品
{% endblock %}

{# CSS#}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/nurse-goods.css' %}" />
{% endblock %}

{# JS#}
{% block custom_js %}
    <script src="{% static 'js/nurse-goods.js' %}" type="text/javascript" charset="utf-8"></script>
    <script>
        $('#qs-container > .main-zone > .goods-wrap > .goods-zone > .goods-ct > .goods-item > .add-cart > img').click(function(){
            var that = $(this)

            // 获取自定义属性【商品ID，设置在按钮中方便获取】
            var goods_id = $(this).attr('data-goods-id')

            $.ajax({
                type: 'POST',
                url: "{% url 'goods:favorite' %}",
                beforeSend:function (xhr, settings) {
                    xhr.setRequestHeader('X-CSRFToken', "{{ csrf_token }}")
                },
                data:{
                    'goods_id':goods_id
                },
                success: function (data) {
                    if (data.status == 'succeed'){  // 操作成功
                        if (data.is_fav == '1'){    // 收藏
                            that.attr("src", "{% static 'img/heart-2.png' %}").attr('data-fav', '1')
                        } else {    // 取消收藏
                            that.attr("src", "{% static 'img/heart-1.png' %}").attr('data-fav', '0')
                        }
                    } else {   // 失败跳转到登录页面
                        window.location.href = "{% url 'users:login' %}"
                    }
                }
            })
        })
    </script>
{% endblock %}

{# 主体内容#}
{% block container %}
    <div id="qs-container" class="clearfix">
			<div class="tail-zone">
				<a href="index.html">首页</a>
				&nbsp;
				&gt;
				&nbsp;
				<i>护理用品</i>
			</div>

			<div class="side-zone fl">

				<h3>热销排行榜</h3>
				<ul>
                    {% for item in hot_sells %}
                        <li class="clearfix">
                            <div class="num">{{ item.goods_nun }}</div>
                            <div class="img">
                                <img src="{{ MEDIA_URL }}{{item.goods_img}}" >
                            </div>
                            <div class="detail">
                                <p>{{item.goods_name}}</p>
                                <i>￥{{ item.goods_price }}</i>
                            </div>
                        </li>
                    {% endfor %}
				</ul>
			</div>

			<div class="main-zone fr">
				<div class="select-tab clearfix">
					<div class="tab-item">品牌</div>
                    {% for brand in brands %}
                         <div class="tab-item">
                             <a href="?brand_num={{ brand.key_num }}&sort={{ sort }}" class="{% if brand.key_num == brand_num %} active {% endif %}">{{ brand.key_name }}</a>
                         </div>
                    {% endfor %}
				</div>


				<div class="goods-wrap">
					<div class="goods-zone">
						<div class="goods-tab">
							<a href="?brand_num={{ brand_num }}&sort=syn" class="{% ifequal sort 'syn' %}active{% endifequal %}">综合</a>
							<a href="?brand_num={{ brand_num }}&sort=sales" class="{% ifequal sort 'sales' %}active{% endifequal %}">
								销量
								<img src="{% static 'img/arrow-down.png' %}" >
							</a>
							<a href="?brand_num={{ brand_num }}&sort=price" class="{% ifequal sort 'price' %}active{% endifequal %}">
								价格
								<img src="{% static 'img/arrow-down.png' %}" >
							</a>
						</div>

						<div class="goods-ct clearfix">
                            {% for goods in nurse_goods.object_list %}
                                <div class="goods-item">
                                    <img src="{{ MEDIA_URL }}{{ goods.goods_img }}" alt="">
                                    <p class="price">￥ {{ goods.goods_price }} 销量:{{ goods.goods_sales }} </p>
                                    <p class="name">{{goods.goods_name}}</p>
                                    <div class="atar_Show">
                                      <p tip="{{ goods.goods_tip }}"></p>
                                    </div>
                                    <div class="add-cart">
                                        <b>加入购物车</b>
                                        {% if user_favorites %}
                                            {# 循环判断当前的商品，是否为收藏的 #}
                                            <img
                                                {% for favorite in user_favorites  %}
                                                    {% if goods.goods_id == favorite.goods_id %}
                                                        src="{% static 'img/heart-2.png' %}"
                                                    {% endif %}
                                                {% endfor %}
                                                src="{% static 'img/heart-1.png' %}"
                                                data-goods-id="{{ goods.goods_id }}" >
                                        {% else %}
                                            <img src="{% static 'img/heart-1.png' %}" data-goods-id="{{ goods.goods_id }}" >
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>


                        {% load i18n %}
                        <div class="pagination page-zone">
                            {% if nurse_goods.has_previous %}
                                <a href="?{{ nurse_goods.previous_page_number.querystring }}" class="prev"> {% trans "上一页" %}</a>
                            {% else %}
                                <span class="disabled prev">{% trans "上一页" %}</span>
                            {% endif %}
                            {% for page in nurse_goods.pages %}
                                {% if page %}
                                    {% ifequal page nurse_goods.number %}
                                        <span class="current page">{{ page }}</span>
                                    {% else %}
                                        <a href="?{{ page.querystring }}" class="page">{{ page }}</a>
                                    {% endifequal %}
                                {% else %}
                                    ...
                                {% endif %}
                            {% endfor %}
                            {% if nurse_goods.has_next %}
                                <a href="?{{ nurse_goods.next_page_number.querystring }}" class="next">{% trans "下一页" %}</a>
                            {% else %}
                                <span class="disabled next">{% trans "下一页" %}</span>
                            {% endif %}
                        </div>
					</div>
				</div>
			</div>
		</div>
{% endblock %}