{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>全视眼镜商城 | 注册</title>
		<!-- 样式重置 -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
		<!-- 基础样式 -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
	</head>
	<body>
		<!-- 头部 -->
        {% include "header_tp.html" with title='欢迎注册' is_show=True %}
			
		<!-- 主体内容 -->
		<div id="rg-container">
			<div class="register-wrap">
				<form action="{% url 'users:register' %}" method="post">
                    {% csrf_token %}
                    <div class="username-wrap {% if register_form.errors.username %} error-input {% endif %}">
						<label for="username">用户名</label><input type="text" required {% if register_form.username.value != None %} value="{{ register_form.username.value }}" {% endif %} name="username" id="username" placeholder="用户名"/>
					</div>
                    {% if username_err %}
                        <div class="err">
                            {{ username_err }}
                        </div>
                    {% endif %}

					<div class="name-wrap {% if register_form.errors.name %} error-input {% endif %}">
						<label for="name">昵称</label><input type="text" required {% if register_form.name.value != None %} value="{{ register_form.name.value }}" {% endif %} name="name" id="name" placeholder="昵称"/>
					</div>
					<div class="email-wrap {% if register_form.errors.email %} error-input {% endif %}">
						<label for="email">邮箱</label><input type="email" required {% if register_form.email.value != None %} value="{{ register_form.email.value }}" {% endif %}  name="email" id="email" placeholder="建议常用邮箱"/>
					</div>
                    {% if email_err %}
                        <div class="err">
                            {{ email_err }}
                        </div>
                    {% endif %}

					<div class="password-wrap {% if register_form.errors.password %} error-input {% endif %}">
						<label for="password">密码</label><input type="password" required name="password" id="password" placeholder="6-12位数密码"/>
					</div>
                    {% if register_form.errors.password %}
                        <div class="err">
                            {{ register_form.errors.password }}
                        </div>
                    {% endif %}

					<div class="check-wrap {% if register_form.errors.captcha %} error-input {% endif %}">
						<label for="check">验证码</label>
					    {{ register_form.captcha }}
                    </div>
                    {% if register_form.errors.captcha %}
                        <div class="err">
                            {{ register_form.errors.captcha }}
                        </div>
                    {% endif %}
					
					<input class="register-bt" type="submit" value="注  册"/>
				</form>
			</div>
			<i></i>
		</div>
		
		<!-- 底部 -->
		{% include 'footer_tp.html' %}
	</body>
</html>
